<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="formulario" (ngSubmit)="cadastrarUsuario()">
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        >
      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome completo"
          formControlName="nome_completo"
          minlength="3"
            required
        >
      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome de usuário"
          formControlName="nome_usuario"
          minlength="4"
          required
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha"
          minlength="7"
          required
        >
      </div>
      <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="formulario.invalid">Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" (click)="exbirPainelLogin()" class="card-link">Faça login</a>
    </p> 
  </div>
</div>